In [1]:
import pandas as pd
import json

In [9]:
with open(".secret/yelp_api.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [10]:
type(login)

dict

In [11]:
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [12]:
results = yelp_api.search_query(location="Los Angeles, CA",
                                term='Korean BBQ')

print(type(results))
results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [13]:
# Open the jsonfile and display the first level of keys
# open API results WITH json module
with open('example_yelp_results.json') as f:   #adjust for your path
    json_file = json.load(f)
    
## What type is top-level of json?
type(json_file)

dict

In [14]:
json_file.keys()

dict_keys(['businesses', 'total', 'region'])

In [16]:
type(json_file['region'])

dict

In [17]:
json_file['region'].keys()

dict_keys(['center'])

In [19]:
json_file['region']['center'].keys()

dict_keys(['longitude', 'latitude'])

In [24]:
json_file['region']['center']

{'longitude': -76.607666015625, 'latitude': 39.29617825404647}

In [20]:
type(json_file['total'])

int

In [25]:
json_file['total']

435

In [26]:
type(json_file['businesses'])

list

In [27]:
len(json_file['businesses'])

20

In [28]:
json_file['businesses'][0]

{'id': 'D9A33FM394q99o4QtK5YwA',
 'alias': 'faidleys-seafood-baltimore-3',
 'name': 'Faidleys Seafood',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDCVS7pGopH6GZcfjBA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/faidleys-seafood-baltimore-3?adjust_creative=KJtcufKUS887p24u6rjVIQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KJtcufKUS887p24u6rjVIQ',
 'review_count': 1184,
 'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'beerbar', 'title': 'Beer Bar'}],
 'rating': 4.0,
 'coordinates': {'latitude': 39.291696, 'longitude': -76.62224},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '203 N Paca St',
  'address2': '',
  'address3': '',
  'city': 'Baltimore',
  'zip_code': '21201',
  'country': 'US',
  'state': 'MD',
  'display_address': ['203 N Paca St', 'Baltimore, MD 21201']},
 'phone': '+14107274898',
 'display_phone': '(410) 727-4898',
 'distance': 1349.560720156645}

In [29]:
df = pd.DataFrame(json_file['businesses'])
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1184,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2919,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","[delivery, pickup]",$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468
2,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2729,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1279,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","[delivery, pickup]",$$,"{'address1': '2901 Odonnell St', 'address2': '...",+14102763160,(410) 276-3160,3328.825798
4,ISn7WyGQaFpsVSRSh0NSqg,sal-and-sons-baltimore,Sal and Sons,https://s3-media3.fl.yelpcdn.com/bphoto/LmVL4j...,False,https://www.yelp.com/biz/sal-and-sons-baltimor...,153,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.284, 'longitude': -76.59337}",[delivery],$,"{'address1': '1640 Aliceanna St', 'address2': ...",+14106751466,(410) 675-1466,1817.406978

In [30]:
df[['categories', 'coordinates', 'location']].head(3)

,categories,coordinates,location
0,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.291696, 'longitude': -76.62224}","{'address1': '203 N Paca St', 'address2': '', ..."
1,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 39.2870995, 'longitude': -76.6053...","{'address1': '750 E Pratt St', 'address2': '',..."
2,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.28214, 'longitude': -76.59162}","{'address1': '1728 Thames St', 'address2': '',..."

In [33]:
help(yelp_api.search_query)

Help on method search_query in module yelpapi.yelpapi:

search_query(**kwargs) method of yelpapi.yelpapi.YelpAPI instance
    Query the Yelp Search API.

    documentation: https://www.yelp.com/developers/documentation/v3/business_search

    required parameters:
        * one of either:
            * location - text specifying a location to search for
            * latitude and longitude

In [34]:
search_results = yelp_api.search_query(location='Los Angeles, CA', term='Pizza')

print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [35]:
search_results['total']

11500

In [37]:
df2 = pd.DataFrame(search_results['businesses'])
df2.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,pEK9_20zclUniCiV3WvQJA,little-dynamite-los-angeles,Little Dynamite,https://s3-media2.fl.yelpcdn.com/bphoto/cxB9Tl...,False,https://www.yelp.com/biz/little-dynamite-los-a...,33,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 34.004091, 'longitude': -118.421424}",[],"{'address1': '11736 Washington Pl', 'address2'...",,,2045.051462,NaN
1,ublapnKGkFuLmXTdImMjpQ,angel-city-pizza-los-angeles,Angel City Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/7oVT4G...,False,https://www.yelp.com/biz/angel-city-pizza-los-...,13,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 33.99912780482204, 'longitude': -...",[],"{'address1': '12926 Venice Blvd', 'address2': ...",+13104392630,(310) 439-2630,3719.372497,NaN

In [39]:
len(search_results['businesses'])

20

In [41]:
search_results = yelp_api.search_query(location='Los Angeles, CA', term='Pizza', offset=20)

In [42]:
biz20 = pd.DataFrame(search_results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,n3zigunUdbkUNCt0ljxv5A,magma-pizzeria-moorpark,Magma Pizzeria,https://s3-media2.fl.yelpcdn.com/bphoto/q5G9Ms...,False,https://www.yelp.com/biz/magma-pizzeria-moorpa...,127,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",5.0,"{'latitude': 34.279287, 'longitude': -118.864085}",[],$$,"{'address1': '888 New Los Angeles Ave', 'addre...",+18052924104,(805) 292-4104,50708.326577
1,3Pb-4J48-EC3-e8pbaLPOg,escos-pizza-los-angeles,Esco's Pizza,https://s3-media3.fl.yelpcdn.com/bphoto/l18Pd9...,False,https://www.yelp.com/biz/escos-pizza-los-angel...,223,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",5.0,"{'latitude': 34.0824367141244, 'longitude': -1...","[delivery, pickup]",NaN,"{'address1': '615 N La Brea Ave', 'address2': ...",+13235923042,(323) 592-3042,9243.090601

In [43]:
all_df = pd.concat([df2, biz20], ignore_index=True)
display(all_df.head(3), all_df.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,pEK9_20zclUniCiV3WvQJA,little-dynamite-los-angeles,Little Dynamite,https://s3-media2.fl.yelpcdn.com/bphoto/cxB9Tl...,False,https://www.yelp.com/biz/little-dynamite-los-a...,33,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 34.004091, 'longitude': -118.421424}",[],"{'address1': '11736 Washington Pl', 'address2'...",,,2045.051462,NaN
1,ublapnKGkFuLmXTdImMjpQ,angel-city-pizza-los-angeles,Angel City Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/7oVT4G...,False,https://www.yelp.com/biz/angel-city-pizza-los-...,13,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 33.99912780482204, 'longitude': -...",[],"{'address1': '12926 Venice Blvd', 'address2': ...",+13104392630,(310) 439-2630,3719.372497,NaN
2,nPeL-tpGnFiNBkiN6wZQUA,prince-street-pizza-venice,Prince Street Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/slCLkc...,False,https://www.yelp.com/biz/prince-street-pizza-v...,87,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 34.001028, 'longitude': -118.466659}",[],"{'address1': '326 Lincoln Blvd', 'address2': N...",+13109295392,(310) 929-5392,5579.324857,NaN

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
37,hxQig4GvFVzvSFbxXwr32g,ospi-venice,Ospi,https://s3-media2.fl.yelpcdn.com/bphoto/9haImK...,False,https://www.yelp.com/biz/ospi-venice?adjust_cr...,764,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 33.98512, 'longitude': -118.47027}","[delivery, restaurant_reservation, pickup]","{'address1': '2025 Pacific Ave', 'address2': N...",+14244435007,(424) 443-5007,6736.395236,$$$
38,9eS5_RECGpBtHOgUg8QZMg,leaning-tower-pizza-and-pasta-sherman-oaks-2,Leaning Tower Pizza & Pasta,https://s3-media3.fl.yelpcdn.com/bphoto/Y0swvf...,False,https://www.yelp.com/biz/leaning-tower-pizza-a...,613,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 34.149226, 'longitude': -118.440793}","[delivery, pickup]","{'address1': '14120 Ventura Blvd', 'address2':...",+18189869701,(818) 986-9701,14623.238665,$$
39,hSMYsvVBZ70pIYiUa3yzyA,ghost-pizza-kitchen-los-angeles,Ghost Pizza Kitchen,https://s3-media3.fl.yelpcdn.com/bphoto/lKGYyg...,False,https://www.yelp.com/biz/ghost-pizza-kitchen-l...,392,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 34.08391, 'longitude': -118.35962}","[delivery, pickup]","{'address1': '7801 Melrose Ave', 'address2': '...",+13234337304,(323) 433-7304,8512.335383,NaN

In [44]:
len(all_df)

40

In [45]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# addtional imports
import os, math,time
from tqdm.notebook import tqdm_notebook

In [46]:
LOCATION = "San Diego CA"
TERM = 'Pizza'

In [48]:
JSON_FILE = "Data/results_in_progress_NY_pizza.json"
JSON_FILE

'Data/results_in_progress_NY_pizza.json'

In [49]:
# check id json file exists
file_exist = os.path.isfile(JSON_FILE)

# if it does not exist
if file_exist == False:

    # Create any need file
    # get folder name only
    folder = os.path.dirname(JSON_FILE)
    # if json file included a filder
    if len(folder)>0:
        # create a folder
        os.makedirs(folder,exist_ok=True)
    
    # inform user and save emty list
    print(f"[i] {JSON_FILE} not found. Saving emty list to file.")

    # save an emty list
    with open(JSON_FILE, 'w') as f:
        json.dump([],f)

    # if exist, inform user
else:
    print(f"[i] {JSON_FILE} already exsists.")

[i] Data/results_in_progress_NY_pizza.json not found. Saving emty list to file.

In [50]:
with open(JSON_FILE, 'r') as f:
    previous_result = json.load(f)

# set offset based on previus results
n_results = len(previous_result)

print(f" - {n_results} previus results found.")

 - 0 previus results found.

In [51]:
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [52]:
total_results = results['total']
total_results

2900

In [53]:
results_per_page = len(results['businesses'])
results_per_page

20

In [54]:
n_pages = math.ceil((results['total']-n_results)/results_per_page)
n_pages

145

In [55]:
# join new results with old list with extend and save to file
previous_result.extend(results['businesses'])
with open(JSON_FILE, 'w') as f:
    json.dump(previous_result,f)

In [56]:
from tqdm.notebook import tqdm_notebook
import time
for i in tqdm_notebook(range(n_pages)):
    # adds 200 ms pause
    time.sleep(.2)

  0%|          | 0/145 [00:00<?, ?it/s]

In [57]:
for i in tqdm_notebook( range(1, n_pages+1)):
    # read in results in progress file and check the length
    with open(JSON_FILE, 'r') as f:
        previous_result = json.load(f)

    n_results = len(previous_result)
    results = yelp_api.search_query(location=LOCATION, term=TERM, offset=n_results)

    previous_result.extend(results['businesses'])

    with open(JSON_FILE, 'w') as f:
        json.dump(previous_result,f)
    
    time.sleep(.2)

  0%|          | 0/145 [00:00<?, ?it/s]

YelpAPIError: VALIDATION_ERROR: Too many results requested, limit+offset must be <= 1000.

In [58]:
final_df = pd.read_json(JSON_FILE)
display(final_df.head(3), final_df.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,T3cqmVnThp8qA0JV7Z2D4w,hanu-korean-bbq-los-angeles-2,Hanu Korean BBQ,https://s3-media1.fl.yelpcdn.com/bphoto/ZbZwNv...,False,https://www.yelp.com/biz/hanu-korean-bbq-los-a...,940,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",5.0,"{'latitude': 34.06386, 'longitude': -118.28675}",[],"{'address1': '2999 W 6th St', 'address2': 'Ste...",+12137387370,(213) 738-7370,12410.338915,NaN
1,qAAoilHU25Qr45FOQlA19g,baekjeong-los-angeles-los-angeles,Baekjeong - Los Angeles,https://s3-media3.fl.yelpcdn.com/bphoto/izhJQs...,False,https://www.yelp.com/biz/baekjeong-los-angeles...,4933,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.5,"{'latitude': 34.06375298900917, 'longitude': -...","[delivery, pickup]","{'address1': '3465 W 6th St', 'address2': 'Ste...",+12133849678,(213) 384-9678,11517.437235,$$$
2,KtEMG1Aln3vQzte92QJxlw,genwa-korean-bbq-mid-wilshire-los-angeles,Genwa Korean BBQ Mid Wilshire,https://s3-media2.fl.yelpcdn.com/bphoto/n6VHst...,False,https://www.yelp.com/biz/genwa-korean-bbq-mid-...,3073,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 34.062321315088, 'longitude': -11...","[delivery, pickup]","{'address1': '5115 Wilshire Blvd', 'address2':...",+13235490760,(323) 549-0760,7958.053069,$$$

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
997,HPNULYnzjsgFEfWq0Grc3A,little-caesars-ramona-2,Little Caesars,https://s3-media3.fl.yelpcdn.com/bphoto/VyQYMP...,False,https://www.yelp.com/biz/little-caesars-ramona...,8,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 33.0355241073594, 'longitude': -1...",[],"{'address1': '1853 Main St', 'address2': 'Ste ...",+17607887701,(760) 788-7701,30817.968073,$
998,NQ4QOOTbYW9MfseqwRFZcQ,2051-cucina-italiana-carlsbad,2051 Cucina Italiana,https://s3-media2.fl.yelpcdn.com/bphoto/cplrUC...,False,https://www.yelp.com/biz/2051-cucina-italiana-...,652,"[{'alias': 'italian', 'title': 'Italian'}]",4.5,"{'latitude': 33.122938, 'longitude': -117.276835}","[delivery, restaurant_reservation, pickup]","{'address1': '2051 Palomar Airport Rd', 'addre...",+17608142120,(760) 814-2120,37363.955191,$$
999,OIbMkZzZZzw9bKnfVZxYtQ,la-pizzería-tijuana,La Pizzería,https://s3-media1.fl.yelpcdn.com/bphoto/TIkYNi...,False,https://www.yelp.com/biz/la-pizzer%C3%ADa-tiju...,4,"[{'alias': 'pizza', 'title': 'Pizza'}]",3.5,"{'latitude': 32.5326075, 'longitude': -117.036...",[],"{'address1': 'Av. Revolución 1025', 'address2'...",+526643803868,+52 664 380 3868,32806.423780,$$

In [59]:
final_df.duplicated(subset='id').sum()

0

In [60]:
final_df.to_csv('Data/final_results_NY_pizza.csv.gz', compression='gzip',index=False)

In [61]:
!pip install tmdbsimple

Collecting tmdbsimple
  Downloading tmdbsimple-2.9.1-py3-none-any.whl (38 kB)
Requirement already satisfied: requests in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (3.4)
Installing collected packages: tmdbsimple
Successfully installed tmdbsimple-2.9.1

In [63]:
with open(".secret/movie_api.json") as f:
    movie_login = json.load(f)

movie_login.keys()

dict_keys(['client-id', 'api-key'])

In [74]:
movie_login['client-id']

'7a54c908faab68802c548a1c99c4375f'

In [75]:
import tmdbsimple as tmdb
tmdb.API_KEY =  movie_login['client-id']

In [76]:
## make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

In [77]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/giBJ0ezYNEobFBfB8H4JNTjmll.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 67.942,
 'poster_path': '/aOIuZAjPaRIE6CMzbazvcHuHXDc.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.203,
 'vote_count': 23307}

In [78]:
info['budget']

63000000

In [79]:
info['revenue']

463517383

In [80]:
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

50000000

In [81]:
# example from package README
# source = https://github.com/celiao/tmdbsimple
releases = movie.releases()
for c in releases['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

PG
PG
PG

In [82]:
# Get the movie object for the current id
movie = tmdb.Movies('tt1361336')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [85]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""""
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the info releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==Us
        if c['iso_3166_1'] =='US':
        # save a "certification" key in info with the certification
            info['certification'] = c['certification']
    
    return info

In [86]:
test = get_movie_with_rating("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 101.5,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.708,
 'vote_count': 28701,
 'certification': 'PG-13'}

In [87]:
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
for movie_id in test_ids:
    movie_info = get_movie_with_rating(movie_id)
    results.append(movie_info)
    
    
pd.DataFrame(results)

HTTPError: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/tt0115937?api_key=7a54c908faab68802c548a1c99c4375f

In [88]:
for movie_id in test_ids:
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
    except:
        pass

pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,28701,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,28701,PG-13
2,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,28701,PG-13
3,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.900,10363,PG-13